USE [DfnCrmHalk]
GO
/****** Object:  Table [dbo].[Ulke]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ulke](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UlkeAdi] [varchar](255) NULL,
	[Oncelik] [int] NULL,
	[tr_TR] [varchar](255) NULL,
	[en_US] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ulke] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ulke] ON
INSERT [dbo].[Ulke] ([Id], [UlkeAdi], [Oncelik], [tr_TR], [en_US]) VALUES (1, N'Afganistan', 0, N'Afganistan', N'Afghanistan')
INSERT [dbo].[Ulke] ([Id], [UlkeAdi], [Oncelik], [tr_TR], [en_US]) VALUES (2, N'Arnavutluk', 0, N'Arnavutluk', N'Albania')
INSERT [dbo].[Ulke] ([Id], [UlkeAdi], [Oncelik], [tr_TR], [en_US]) VALUES (3, N'Cezayir', 0, N'Cezayir', N'Algeria')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Ulke] OFF
/****** Object:  Table [dbo].[Status]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusAdi] [varchar](50) NULL,
	[StatusAciklama] [varchar](150) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON
INSERT [dbo].[Status] ([StatusId], [StatusAdi], [StatusAciklama]) VALUES (1, N'ISE', N'Borsaya Bildirilecek')
SET IDENTITY_INSERT [dbo].[Status] OFF
/****** Object:  Table [dbo].[LisansDurum]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LisansDurum](
	[LisansDurumId] [int] IDENTITY(1,1) NOT NULL,
	[YayinDurumu] [bit] NOT NULL,
	[PayL1] [bit] NOT NULL,
	[PayLP] [bit] NOT NULL,
	[PayL2] [bit] NOT NULL,
	[PayX] [bit] NOT NULL,
	[PayGS] [bit] NOT NULL,
	[ViopL1] [bit] NOT NULL,
	[ViopLP] [bit] NOT NULL,
	[ViopL2] [bit] NOT NULL,
	[ViopGS] [bit] NOT NULL,
	[TahvilL1] [bit] NOT NULL,
	[TahvilLP] [bit] NOT NULL,
	[TahvilL2] [bit] NOT NULL,
	[SaseL1] [bit] NOT NULL,
	[SaseL2] [bit] NOT NULL,
	[Amex] [bit] NOT NULL,
	[CBOT] [bit] NOT NULL,
	[CBOTM] [bit] NOT NULL,
	[CHIX] [bit] NOT NULL,
	[CME] [bit] NOT NULL,
	[CMEM] [bit] NOT NULL,
	[COMEX] [bit] NOT NULL,
	[DJI] [bit] NOT NULL,
	[EUREX] [bit] NOT NULL,
	[LSE] [bit] NOT NULL,
	[NYMEX] [bit] NOT NULL,
	[NYMEXM] [bit] NOT NULL,
	[NYSE] [bit] NOT NULL,
	[NASDAQ] [bit] NOT NULL,
	[SPI] [bit] NOT NULL,
	[XETRA] [bit] NOT NULL,
	[Futgck] [bit] NOT NULL,
	[WINX] [bit] NOT NULL,
	[SCMRealTıme] [bit] NOT NULL,
	[SCMDownload] [bit] NOT NULL,
	[SCMUsable] [bit] NOT NULL,
	[ROBOT] [bit] NOT NULL,
	[CepYetki] [bit] NOT NULL,
	[ProYetki] [bit] NOT NULL,
	[VeriAnalitik] [bit] NOT NULL,
 CONSTRAINT [PK_LisansDurum] PRIMARY KEY CLUSTERED 
(
	[LisansDurumId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KurumsalBilgiler]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KurumsalBilgiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kurumhesapno] [varchar](150) NULL,
	[KurumSube] [varchar](150) NULL,
	[KurumKullaniciTip] [varchar](100) NULL,
	[Not1] [varchar](500) NULL,
 CONSTRAINT [PK_KurumsalBilgiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kurumlar]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kurumlar](
	[KurumID] [int] IDENTITY(1,1) NOT NULL,
	[PmtsNo] [varchar](50) NULL,
	[KurumAdi] [varchar](150) NULL,
	[FxKurumCode] [varchar](50) NULL,
	[KurumIletisimID] [int] NULL,
	[VergiDairesi] [varchar](20) NULL,
	[VergiNo] [varchar](20) NULL,
	[MuhasebeKodu] [varchar](15) NULL,
	[faturabilgiID] [int] NULL,
 CONSTRAINT [PK_Kurumlar] PRIMARY KEY CLUSTERED 
(
	[KurumID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](100) NULL,
 CONSTRAINT [PK_OlayTip] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON
INSERT [dbo].[EventType] ([EventTypeId], [EventName]) VALUES (1, N'Kullanıcı Açma')
INSERT [dbo].[EventType] ([EventTypeId], [EventName]) VALUES (2, N'Kullanıcı Kapatma')
INSERT [dbo].[EventType] ([EventTypeId], [EventName]) VALUES (3, N'Lisans Azaltma')
SET IDENTITY_INSERT [dbo].[EventType] OFF
/****** Object:  Table [dbo].[Departman]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departman](
	[DepartmanId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAdi] [varchar](50) NULL,
 CONSTRAINT [PK_Departman] PRIMARY KEY CLUSTERED 
(
	[DepartmanId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Departman] ON
INSERT [dbo].[Departman] ([DepartmanId], [DepartmanAdi]) VALUES (1, N'Yazılım')
INSERT [dbo].[Departman] ([DepartmanId], [DepartmanAdi]) VALUES (2, N'TeknikServis')
INSERT [dbo].[Departman] ([DepartmanId], [DepartmanAdi]) VALUES (3, N'Pazarlama')
SET IDENTITY_INSERT [dbo].[Departman] OFF
/****** Object:  Table [dbo].[CalisanTip]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CalisanTip](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CalisanTipAdi] [varchar](200) NULL,
 CONSTRAINT [PK_CalisanTip] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CalisanTip] ON
INSERT [dbo].[CalisanTip] ([id], [CalisanTipAdi]) VALUES (1, N'Personel')
INSERT [dbo].[CalisanTip] ([id], [CalisanTipAdi]) VALUES (2, N'KurumOtoCreate')
INSERT [dbo].[CalisanTip] ([id], [CalisanTipAdi]) VALUES (3, N'Server')
SET IDENTITY_INSERT [dbo].[CalisanTip] OFF
/****** Object:  Table [dbo].[BorsaAltLisansar]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorsaAltLisansar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GKULD2] [bit] NULL,
	[GKULD1P] [bit] NULL,
	[GKULPVA] [bit] NULL,
	[GKULEND] [bit] NULL,
	[GUYED2] [bit] NULL,
	[GUYED1P] [bit] NULL,
	[GUYEPVA] [bit] NULL,
	[GUYEEND] [bit] NULL,
 CONSTRAINT [PK_BorsaAltLisansar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faturaDonem]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[faturaDonem](
	[DonemID] [int] IDENTITY(1,1) NOT NULL,
	[DonemName] [varchar](50) NULL,
 CONSTRAINT [PK_faturaDonem] PRIMARY KEY CLUSTERED 
(
	[DonemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[faturaDonem] ON
INSERT [dbo].[faturaDonem] ([DonemID], [DonemName]) VALUES (1, N'1 Ay')
INSERT [dbo].[faturaDonem] ([DonemID], [DonemName]) VALUES (2, N'3 Ay')
INSERT [dbo].[faturaDonem] ([DonemID], [DonemName]) VALUES (3, N'6 Ay')
SET IDENTITY_INSERT [dbo].[faturaDonem] OFF
/****** Object:  Table [dbo].[UserExtraInfo]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserExtraInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MesajOnayDate] [varchar](50) NULL,
	[SozlesmeOnayDate] [varchar](50) NULL,
	[ComputerName] [varchar](150) NULL,
	[IP] [varchar](150) NULL,
	[RaporWebUrun] [varchar](50) NULL,
	[RaporWebCihaz] [varchar](50) NULL,
	[RaporWebSonLoginTarihi] [varchar](50) NULL,
	[RaporWebBuAyLoginSayisi] [int] NULL,
	[RaporWebOncekiAyLoginSayisi] [int] NULL,
	[WebMesajKurum] [varchar](70) NULL,
	[WebMesajGrup] [varchar](50) NULL,
	[Not1] [varchar](500) NULL,
	[Not2] [varchar](500) NULL,
	[Not3] [varchar](500) NULL,
 CONSTRAINT [PK_UserExtraInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServerList]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServerList](
	[ServerListID] [int] IDENTITY(1,1) NOT NULL,
	[Server1] [varchar](20) NULL,
	[Port1] [varchar](10) NULL,
	[Server2] [varchar](20) NULL,
	[Port2] [varchar](10) NULL,
	[Server3] [varchar](20) NULL,
	[Port3] [varchar](10) NULL,
	[Server4] [varchar](20) NULL,
	[Port4] [varchar](10) NULL,
	[ChartServer] [varchar](30) NULL,
	[ChartPort] [varchar](10) NULL,
	[DownloadUrl] [varchar](70) NULL,
 CONSTRAINT [PK_ServerList] PRIMARY KEY CLUSTERED 
(
	[ServerListID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ParaBirimi]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ParaBirimi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ParaBirimiAdi] [varchar](50) NULL,
	[ParaBirimiKod] [varchar](10) NULL,
	[Kur] [money] NULL,
 CONSTRAINT [PK_ParaBirimi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MusteriType]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MusteriType](
	[MusteriTypeId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriTypeAdi] [varchar](100) NULL,
 CONSTRAINT [PK_MusteriType] PRIMARY KEY CLUSTERED 
(
	[MusteriTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MusteriMensei]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MusteriMensei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MenseiAdi] [varchar](50) NULL,
 CONSTRAINT [PK_MusteriMensei] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Yetki]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yetki](
	[yetkiID] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAdi] [varchar](20) NULL,
 CONSTRAINT [PK_Yetki] PRIMARY KEY CLUSTERED 
(
	[yetkiID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Yetki] ON
INSERT [dbo].[Yetki] ([yetkiID], [YetkiAdi]) VALUES (1, N'Admin')
INSERT [dbo].[Yetki] ([yetkiID], [YetkiAdi]) VALUES (2, N'Kullanıcı')
SET IDENTITY_INSERT [dbo].[Yetki] OFF
/****** Object:  Table [dbo].[LisansFiyatlari]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LisansFiyatlari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LisansKod] [varchar](20) NULL,
	[Aciklama] [varchar](50) NULL,
	[Fiyat] [money] NULL,
	[ParaBirimiId] [int] NULL,
	[YurtDisiFiyat] [money] NULL,
 CONSTRAINT [PK_LisansFiyatlari] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Il]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Il](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [varchar](255) NULL,
	[UlkeId] [int] NULL,
	[Oncelik] [int] NULL,
 CONSTRAINT [PK_il] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Il] ON
INSERT [dbo].[Il] ([Id], [IlAdi], [UlkeId], [Oncelik]) VALUES (1, N'Asâdâbâd', 1, 0)
INSERT [dbo].[Il] ([Id], [IlAdi], [UlkeId], [Oncelik]) VALUES (2, N'Âybak', 1, 0)
INSERT [dbo].[Il] ([Id], [IlAdi], [UlkeId], [Oncelik]) VALUES (3, N'Baghlân', 1, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
GO
print 'Processed 5100 total records'
GO
print 'Processed 5200 total records'
GO
print 'Processed 5300 total records'
GO
print 'Processed 5400 total records'
GO
print 'Processed 5500 total records'
GO
print 'Processed 5600 total records'
GO
print 'Processed 5700 total records'
GO
print 'Processed 5800 total records'
GO
print 'Processed 5900 total records'
GO
print 'Processed 6000 total records'
GO
print 'Processed 6100 total records'
GO
print 'Processed 6200 total records'
GO
print 'Processed 6300 total records'
GO
print 'Processed 6400 total records'
GO
print 'Processed 6500 total records'
GO
print 'Processed 6600 total records'
GO
print 'Processed 6700 total records'
GO
print 'Processed 6800 total records'
SET IDENTITY_INSERT [dbo].[Il] OFF
/****** Object:  Table [dbo].[Ilce]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ilce](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IlceAdi] [varchar](255) NULL,
	[IlId] [int] NULL,
	[Oncelik] [int] NULL,
 CONSTRAINT [PK_ilce1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ilce] ON
INSERT [dbo].[Ilce] ([Id], [IlceAdi], [IlId], [Oncelik]) VALUES (1, N'Çukurova', 6410, 0)
INSERT [dbo].[Ilce] ([Id], [IlceAdi], [IlId], [Oncelik]) VALUES (2, N'Girne', 6410, 0)
INSERT [dbo].[Ilce] ([Id], [IlceAdi], [IlId], [Oncelik]) VALUES (3, N'Karaisalı', 6410, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Ilce] OFF
/****** Object:  Table [dbo].[Iletisim]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimId] [int] IDENTITY(1,1) NOT NULL,
	[acikadres] [varchar](500) NULL,
	[UlkeId] [int] NULL,
	[IlId] [int] NULL,
	[IlceId] [int] NULL,
	[Tel1] [varchar](100) NULL,
	[Tel2] [varchar](100) NULL,
	[Ceptel] [varchar](100) NULL,
	[email] [varchar](90) NULL,
 CONSTRAINT [PK_Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Iletisim] ON
INSERT [dbo].[Iletisim] ([IletisimId], [acikadres], [UlkeId], [IlId], [IlceId], [Tel1], [Tel2], [Ceptel], [email]) VALUES (1, N'', 213, 6244, 409, N'', N'', N'', N'')
INSERT [dbo].[Iletisim] ([IletisimId], [acikadres], [UlkeId], [IlId], [IlceId], [Tel1], [Tel2], [Ceptel], [email]) VALUES (2, N'', 213, 6244, 409, N'', N'', N'', N'')
INSERT [dbo].[Iletisim] ([IletisimId], [acikadres], [UlkeId], [IlId], [IlceId], [Tel1], [Tel2], [Ceptel], [email]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'bilgi@directfn.com')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
/****** Object:  Table [dbo].[Sozlesmeler]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sozlesmeler](
	[SozlesmeilID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [varchar](50) NULL,
	[SozlesmeNo] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[DonemId] [int] NULL,
	[GuncelDate] [datetime] NULL,
	[ParaBirimiID] [int] NULL,
	[ProFiyat] [money] NULL,
	[CepFiyat] [money] NULL,
	[VergiDairesi] [varchar](50) NULL,
	[VergiNo] [varchar](50) NULL,
	[tckno] [varchar](50) NULL,
	[iletisimID] [int] NULL,
	[FaturaDurum] [bit] NULL,
	[KayitTarihi] [datetime] NULL,
 CONSTRAINT [PK_FaturaBilgileri] PRIMARY KEY CLUSTERED 
(
	[SozlesmeilID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Calisan]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Calisan](
	[calisanID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[DepartmanId] [int] NULL,
	[YetiID] [int] NULL,
	[iletsimId] [int] NULL,
	[CalisanTipId] [int] NULL,
	[CalisanDurum] [bit] NULL,
 CONSTRAINT [PK_Calisan] PRIMARY KEY CLUSTERED 
(
	[calisanID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Calisan] ON
INSERT [dbo].[Calisan] ([calisanID], [Ad], [Soyad], [UserName], [Password], [DepartmanId], [YetiID], [iletsimId], [CalisanTipId], [CalisanDurum]) VALUES (1, N'Admin', N'Admin', N'admin', N'aZ9/ISAHm3FcNEbTlk47tg==', 1, 1, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Calisan] OFF
/****** Object:  Table [dbo].[Fatura]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[faturaTarihi] [datetime] NOT NULL,
	[FaturaBilID] [int] NULL,
 CONSTRAINT [PK_Fatura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Musteriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriNo] [varchar](50) NULL,
	[MusteriAdi] [varchar](150) NULL,
	[Yetkili] [varchar](100) NULL,
	[BilgiIslem] [varchar](100) NULL,
	[MusteriTypeId] [int] NULL,
	[VergiDairesi] [varchar](100) NULL,
	[VergiNo] [varchar](50) NULL,
	[Tckno] [varchar](30) NULL,
	[KayitTarihi] [datetime] NULL,
	[SonKullaniciId] [int] NULL,
	[ilkKullaniciId] [int] NULL,
	[TemsilciID] [int] NULL,
	[IletisimId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Projeler]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Projeler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yayinDurum] [bit] NULL,
	[MusteriNo] [varchar](20) NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[ProjeAdi] [varchar](50) NULL,
	[Aciklama] [varchar](550) NULL,
	[baslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[Fiyat] [money] NULL,
	[BorsaLisansId] [int] NULL,
	[SozlesmeID] [int] NULL,
 CONSTRAINT [PK_Projeler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[LisansDurumId] [int] NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[TerminalID] [varchar](50) NULL,
	[SozlesmeNo] [varchar](50) NULL,
	[PmtsNo] [varchar](50) NULL,
	[ExpiryDate] [datetime] NULL,
	[ProductType] [varchar](50) NULL,
	[Aciklama] [varchar](200) NULL,
	[iletisimId] [int] NULL,
	[MusteriMenseiID] [int] NULL,
	[ServerlistID] [int] NULL,
	[BaslangicTarihi] [datetime] NULL,
	[tckno] [varchar](20) NULL,
	[StatusId] [int] NULL,
	[FXkurum] [varchar](150) NULL,
	[UserExtraInfoId] [int] NULL,
	[SozlesmeID] [int] NULL,
	[KurumsalBilgilerId] [int] NULL,
	[ProNonPro] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserNot]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserNot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[CalisanId] [int] NULL,
	[Userid] [int] NULL,
	[Text] [varchar](max) NULL,
 CONSTRAINT [PK_UserNot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 12/06/2016 09:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserEvent](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeId] [int] NULL,
	[EventTarih] [datetime] NULL,
	[UserId] [int] NULL,
	[CalisanId] [int] NULL,
	[SonLisandurumID] [int] NULL,
	[KapatilanLisans] [varchar](250) NULL,
	[AcilanLisans] [varchar](250) NULL,
	[IP] [varchar](20) NULL,
	[HostName] [varchar](50) NULL,
 CONSTRAINT [PK_UserEvent] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_LisansDurum_YayinDurumu]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_YayinDurumu]  DEFAULT ((0)) FOR [YayinDurumu]
GO
/****** Object:  Default [DF_LisansDurum_PayL1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_PayL1]  DEFAULT ((0)) FOR [PayL1]
GO
/****** Object:  Default [DF_LisansDurum_PayLP]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_PayLP]  DEFAULT ((0)) FOR [PayLP]
GO
/****** Object:  Default [DF_LisansDurum_PayL2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_PayL2]  DEFAULT ((0)) FOR [PayL2]
GO
/****** Object:  Default [DF_LisansDurum_PayX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_PayX]  DEFAULT ((0)) FOR [PayX]
GO
/****** Object:  Default [DF_LisansDurum_PayGS]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_PayGS]  DEFAULT ((0)) FOR [PayGS]
GO
/****** Object:  Default [DF_LisansDurum_ViopL1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ViopL1]  DEFAULT ((0)) FOR [ViopL1]
GO
/****** Object:  Default [DF_LisansDurum_ViopLP]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ViopLP]  DEFAULT ((0)) FOR [ViopLP]
GO
/****** Object:  Default [DF_LisansDurum_ViopL2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ViopL2]  DEFAULT ((0)) FOR [ViopL2]
GO
/****** Object:  Default [DF_LisansDurum_ViopGS]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ViopGS]  DEFAULT ((0)) FOR [ViopGS]
GO
/****** Object:  Default [DF_LisansDurum_TahvilL1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_TahvilL1]  DEFAULT ((0)) FOR [TahvilL1]
GO
/****** Object:  Default [DF_LisansDurum_TahvilLP]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_TahvilLP]  DEFAULT ((0)) FOR [TahvilLP]
GO
/****** Object:  Default [DF_LisansDurum_TahvilL2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_TahvilL2]  DEFAULT ((0)) FOR [TahvilL2]
GO
/****** Object:  Default [DF_LisansDurum_SaseL1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SaseL1]  DEFAULT ((0)) FOR [SaseL1]
GO
/****** Object:  Default [DF_LisansDurum_SaseL2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SaseL2]  DEFAULT ((0)) FOR [SaseL2]
GO
/****** Object:  Default [DF_LisansDurum_Amex]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_Amex]  DEFAULT ((0)) FOR [Amex]
GO
/****** Object:  Default [DF_LisansDurum_CBOT]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CBOT]  DEFAULT ((0)) FOR [CBOT]
GO
/****** Object:  Default [DF_LisansDurum_CBOTM]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CBOTM]  DEFAULT ((0)) FOR [CBOTM]
GO
/****** Object:  Default [DF_LisansDurum_CHIX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CHIX]  DEFAULT ((0)) FOR [CHIX]
GO
/****** Object:  Default [DF_LisansDurum_CME]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CME]  DEFAULT ((0)) FOR [CME]
GO
/****** Object:  Default [DF_LisansDurum_CMEM]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CMEM]  DEFAULT ((0)) FOR [CMEM]
GO
/****** Object:  Default [DF_LisansDurum_COMEX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_COMEX]  DEFAULT ((0)) FOR [COMEX]
GO
/****** Object:  Default [DF_LisansDurum_DJI]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_DJI]  DEFAULT ((0)) FOR [DJI]
GO
/****** Object:  Default [DF_LisansDurum_EUREX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_EUREX]  DEFAULT ((0)) FOR [EUREX]
GO
/****** Object:  Default [DF_LisansDurum_LSE]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_LSE]  DEFAULT ((0)) FOR [LSE]
GO
/****** Object:  Default [DF_LisansDurum_NYMEX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_NYMEX]  DEFAULT ((0)) FOR [NYMEX]
GO
/****** Object:  Default [DF_LisansDurum_NYMEXM]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_NYMEXM]  DEFAULT ((0)) FOR [NYMEXM]
GO
/****** Object:  Default [DF_LisansDurum_NYSE]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_NYSE]  DEFAULT ((0)) FOR [NYSE]
GO
/****** Object:  Default [DF_LisansDurum_NASDAQ]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_NASDAQ]  DEFAULT ((0)) FOR [NASDAQ]
GO
/****** Object:  Default [DF_LisansDurum_SPI]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SPI]  DEFAULT ((0)) FOR [SPI]
GO
/****** Object:  Default [DF_LisansDurum_XETRA]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_XETRA]  DEFAULT ((0)) FOR [XETRA]
GO
/****** Object:  Default [DF_LisansDurum_Futgck]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_Futgck]  DEFAULT ((0)) FOR [Futgck]
GO
/****** Object:  Default [DF_LisansDurum_WINX]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_WINX]  DEFAULT ((0)) FOR [WINX]
GO
/****** Object:  Default [DF_LisansDurum_SCMRealTıme]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SCMRealTıme]  DEFAULT ((0)) FOR [SCMRealTıme]
GO
/****** Object:  Default [DF_LisansDurum_SCMDownload]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SCMDownload]  DEFAULT ((0)) FOR [SCMDownload]
GO
/****** Object:  Default [DF_LisansDurum_SCMUsable]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_SCMUsable]  DEFAULT ((0)) FOR [SCMUsable]
GO
/****** Object:  Default [DF_LisansDurum_ROBOT]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ROBOT]  DEFAULT ((0)) FOR [ROBOT]
GO
/****** Object:  Default [DF_LisansDurum_CepYetki]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_CepYetki]  DEFAULT ((0)) FOR [CepYetki]
GO
/****** Object:  Default [DF_LisansDurum_ProYetki]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_ProYetki]  DEFAULT ((0)) FOR [ProYetki]
GO
/****** Object:  Default [DF_LisansDurum_VeriAnalitik]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansDurum] ADD  CONSTRAINT [DF_LisansDurum_VeriAnalitik]  DEFAULT ((0)) FOR [VeriAnalitik]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GKULD2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GKULD2]  DEFAULT ((0)) FOR [GKULD2]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GKULD1P]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GKULD1P]  DEFAULT ((0)) FOR [GKULD1P]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GKULPVA]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GKULPVA]  DEFAULT ((0)) FOR [GKULPVA]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GKULEND]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GKULEND]  DEFAULT ((0)) FOR [GKULEND]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GUYED2]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GUYED2]  DEFAULT ((0)) FOR [GUYED2]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GUYED1P]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GUYED1P]  DEFAULT ((0)) FOR [GUYED1P]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GUYEPVA]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GUYEPVA]  DEFAULT ((0)) FOR [GUYEPVA]
GO
/****** Object:  Default [DF_BorsaAltLisansar_GUYEEND]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[BorsaAltLisansar] ADD  CONSTRAINT [DF_BorsaAltLisansar_GUYEEND]  DEFAULT ((0)) FOR [GUYEEND]
GO
/****** Object:  Default [DF_LisansFiyatlari_Fiyat]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansFiyatlari] ADD  CONSTRAINT [DF_LisansFiyatlari_Fiyat]  DEFAULT ((0)) FOR [Fiyat]
GO
/****** Object:  Default [DF_LisansFiyatlari_YurtDisiFiyat]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansFiyatlari] ADD  CONSTRAINT [DF_LisansFiyatlari_YurtDisiFiyat]  DEFAULT ((0)) FOR [YurtDisiFiyat]
GO
/****** Object:  Default [DF_Musteriler_Status]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_UserEvent_IP]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserEvent] ADD  CONSTRAINT [DF_UserEvent_IP]  DEFAULT ((0)) FOR [IP]
GO
/****** Object:  ForeignKey [FK_LisansFiyatlari_ParaBirimi]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[LisansFiyatlari]  WITH CHECK ADD  CONSTRAINT [FK_LisansFiyatlari_ParaBirimi] FOREIGN KEY([ParaBirimiId])
REFERENCES [dbo].[ParaBirimi] ([id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LisansFiyatlari] CHECK CONSTRAINT [FK_LisansFiyatlari_ParaBirimi]
GO
/****** Object:  ForeignKey [FK_Il_Ulke]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Il]  WITH CHECK ADD  CONSTRAINT [FK_Il_Ulke] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulke] ([Id])
GO
ALTER TABLE [dbo].[Il] CHECK CONSTRAINT [FK_Il_Ulke]
GO
/****** Object:  ForeignKey [FK_Ilce_Il]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Ilce]  WITH CHECK ADD  CONSTRAINT [FK_Ilce_Il] FOREIGN KEY([IlId])
REFERENCES [dbo].[Il] ([Id])
GO
ALTER TABLE [dbo].[Ilce] CHECK CONSTRAINT [FK_Ilce_Il]
GO
/****** Object:  ForeignKey [FK_Iletisim_Il]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Iletisim]  WITH CHECK ADD  CONSTRAINT [FK_Iletisim_Il] FOREIGN KEY([IlId])
REFERENCES [dbo].[Il] ([Id])
GO
ALTER TABLE [dbo].[Iletisim] CHECK CONSTRAINT [FK_Iletisim_Il]
GO
/****** Object:  ForeignKey [FK_Iletisim_Ilce]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Iletisim]  WITH CHECK ADD  CONSTRAINT [FK_Iletisim_Ilce] FOREIGN KEY([IlceId])
REFERENCES [dbo].[Ilce] ([Id])
GO
ALTER TABLE [dbo].[Iletisim] CHECK CONSTRAINT [FK_Iletisim_Ilce]
GO
/****** Object:  ForeignKey [FK_Iletisim_Ulke]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Iletisim]  WITH CHECK ADD  CONSTRAINT [FK_Iletisim_Ulke] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulke] ([Id])
GO
ALTER TABLE [dbo].[Iletisim] CHECK CONSTRAINT [FK_Iletisim_Ulke]
GO
/****** Object:  ForeignKey [FK_FaturaBilgileri_faturaDonem]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Sozlesmeler]  WITH CHECK ADD  CONSTRAINT [FK_FaturaBilgileri_faturaDonem] FOREIGN KEY([DonemId])
REFERENCES [dbo].[faturaDonem] ([DonemID])
GO
ALTER TABLE [dbo].[Sozlesmeler] CHECK CONSTRAINT [FK_FaturaBilgileri_faturaDonem]
GO
/****** Object:  ForeignKey [FK_FaturaBilgileri_ParaBirimi]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Sozlesmeler]  WITH CHECK ADD  CONSTRAINT [FK_FaturaBilgileri_ParaBirimi] FOREIGN KEY([ParaBirimiID])
REFERENCES [dbo].[ParaBirimi] ([id])
GO
ALTER TABLE [dbo].[Sozlesmeler] CHECK CONSTRAINT [FK_FaturaBilgileri_ParaBirimi]
GO
/****** Object:  ForeignKey [FK_Sozlesmeler_Iletisim]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Sozlesmeler]  WITH CHECK ADD  CONSTRAINT [FK_Sozlesmeler_Iletisim] FOREIGN KEY([iletisimID])
REFERENCES [dbo].[Iletisim] ([IletisimId])
GO
ALTER TABLE [dbo].[Sozlesmeler] CHECK CONSTRAINT [FK_Sozlesmeler_Iletisim]
GO
/****** Object:  ForeignKey [FK_Calisan_CalisanTip]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_CalisanTip] FOREIGN KEY([CalisanTipId])
REFERENCES [dbo].[CalisanTip] ([id])
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [FK_Calisan_CalisanTip]
GO
/****** Object:  ForeignKey [FK_Calisan_Departman]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Departman] FOREIGN KEY([DepartmanId])
REFERENCES [dbo].[Departman] ([DepartmanId])
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [FK_Calisan_Departman]
GO
/****** Object:  ForeignKey [FK_Calisan_Iletisim]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Iletisim] FOREIGN KEY([iletsimId])
REFERENCES [dbo].[Iletisim] ([IletisimId])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [FK_Calisan_Iletisim]
GO
/****** Object:  ForeignKey [FK_Calisan_Yetki1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Yetki1] FOREIGN KEY([YetiID])
REFERENCES [dbo].[Yetki] ([yetkiID])
GO
ALTER TABLE [dbo].[Calisan] CHECK CONSTRAINT [FK_Calisan_Yetki1]
GO
/****** Object:  ForeignKey [FK_Fatura_FaturaBilgileri]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD  CONSTRAINT [FK_Fatura_FaturaBilgileri] FOREIGN KEY([FaturaBilID])
REFERENCES [dbo].[Sozlesmeler] ([SozlesmeilID])
GO
ALTER TABLE [dbo].[Fatura] CHECK CONSTRAINT [FK_Fatura_FaturaBilgileri]
GO
/****** Object:  ForeignKey [FK_Musteriler_Calisan]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Calisan] FOREIGN KEY([TemsilciID])
REFERENCES [dbo].[Calisan] ([calisanID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Calisan]
GO
/****** Object:  ForeignKey [FK_Musteriler_Iletisim]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Iletisim] FOREIGN KEY([IletisimId])
REFERENCES [dbo].[Iletisim] ([IletisimId])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Iletisim]
GO
/****** Object:  ForeignKey [FK_Projeler_BorsaAltLisansar]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Projeler]  WITH CHECK ADD  CONSTRAINT [FK_Projeler_BorsaAltLisansar] FOREIGN KEY([BorsaLisansId])
REFERENCES [dbo].[BorsaAltLisansar] ([id])
GO
ALTER TABLE [dbo].[Projeler] CHECK CONSTRAINT [FK_Projeler_BorsaAltLisansar]
GO
/****** Object:  ForeignKey [FK_Projeler_Sozlesmeler]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Projeler]  WITH CHECK ADD  CONSTRAINT [FK_Projeler_Sozlesmeler] FOREIGN KEY([SozlesmeID])
REFERENCES [dbo].[Sozlesmeler] ([SozlesmeilID])
GO
ALTER TABLE [dbo].[Projeler] CHECK CONSTRAINT [FK_Projeler_Sozlesmeler]
GO
/****** Object:  ForeignKey [FK_Projeler_Sozlesmeler1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Projeler]  WITH CHECK ADD  CONSTRAINT [FK_Projeler_Sozlesmeler1] FOREIGN KEY([SozlesmeID])
REFERENCES [dbo].[Sozlesmeler] ([SozlesmeilID])
GO
ALTER TABLE [dbo].[Projeler] CHECK CONSTRAINT [FK_Projeler_Sozlesmeler1]
GO
/****** Object:  ForeignKey [FK_Users_Iletisim]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Iletisim] FOREIGN KEY([iletisimId])
REFERENCES [dbo].[Iletisim] ([IletisimId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Iletisim]
GO
/****** Object:  ForeignKey [FK_Users_KurumsalBilgiler]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_KurumsalBilgiler] FOREIGN KEY([KurumsalBilgilerId])
REFERENCES [dbo].[KurumsalBilgiler] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_KurumsalBilgiler]
GO
/****** Object:  ForeignKey [FK_Users_LisansDurum]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_LisansDurum] FOREIGN KEY([LisansDurumId])
REFERENCES [dbo].[LisansDurum] ([LisansDurumId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_LisansDurum]
GO
/****** Object:  ForeignKey [FK_Users_MusteriMensei]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_MusteriMensei] FOREIGN KEY([MusteriMenseiID])
REFERENCES [dbo].[MusteriMensei] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_MusteriMensei]
GO
/****** Object:  ForeignKey [FK_Users_ServerList]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_ServerList] FOREIGN KEY([ServerlistID])
REFERENCES [dbo].[ServerList] ([ServerListID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_ServerList]
GO
/****** Object:  ForeignKey [FK_Users_Sozlesmeler]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Sozlesmeler] FOREIGN KEY([SozlesmeID])
REFERENCES [dbo].[Sozlesmeler] ([SozlesmeilID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Sozlesmeler]
GO
/****** Object:  ForeignKey [FK_Users_Status]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Status]
GO
/****** Object:  ForeignKey [FK_Users_UserExtraInfo]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserExtraInfo] FOREIGN KEY([UserExtraInfoId])
REFERENCES [dbo].[UserExtraInfo] ([id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserExtraInfo]
GO
/****** Object:  ForeignKey [FK_UserNot_Calisan]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserNot]  WITH CHECK ADD  CONSTRAINT [FK_UserNot_Calisan] FOREIGN KEY([CalisanId])
REFERENCES [dbo].[Calisan] ([calisanID])
GO
ALTER TABLE [dbo].[UserNot] CHECK CONSTRAINT [FK_UserNot_Calisan]
GO
/****** Object:  ForeignKey [FK_UserNot_Users]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserNot]  WITH CHECK ADD  CONSTRAINT [FK_UserNot_Users] FOREIGN KEY([Userid])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserNot] CHECK CONSTRAINT [FK_UserNot_Users]
GO
/****** Object:  ForeignKey [FK_UserEvent_Calisan]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_Calisan] FOREIGN KEY([CalisanId])
REFERENCES [dbo].[Calisan] ([calisanID])
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_Calisan]
GO
/****** Object:  ForeignKey [FK_UserEvent_EventType]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_EventType]
GO
/****** Object:  ForeignKey [FK_UserEvent_LisansDurum1]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_LisansDurum1] FOREIGN KEY([SonLisandurumID])
REFERENCES [dbo].[LisansDurum] ([LisansDurumId])
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_LisansDurum1]
GO
/****** Object:  ForeignKey [FK_UserEvent_Users]    Script Date: 12/06/2016 09:18:28 ******/
ALTER TABLE [dbo].[UserEvent]  WITH CHECK ADD  CONSTRAINT [FK_UserEvent_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserEvent] CHECK CONSTRAINT [FK_UserEvent_Users]
GO
