<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
 </configSections>
		<connectionStrings>
    <add name="DirectFNCRM.Properties.Settings.HisseSinyalConnectionString"
      connectionString="Data Source=10.5.111.101;Initial Catalog=AkyCrmNew;Persist Security Info=True;User ID=idealdbtestadmin;Password=DbTest2020"
      providerName="System.Data.SqlClient" />
    <add name="DirectFNCRM.Properties.Settings.DBConnectionString"
      connectionString="Data Source=10.5.111.101;Initial Catalog=AkyCrmNew;Persist Security Info=True;User ID=idealdbtestadmin;Password=DbTest2020"
      providerName="System.Data.SqlClient" />
    <add name="DirectFNCRM.Properties.Settings.KurumCrmNullDBTest5ConnectionString"
      connectionString="Data Source=10.5.111.101;Initial Catalog=KurumCrmNullDBTest5;Persist Security Info=True;User ID=idealdbtestadmin;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="DirectFNCRM.Properties.Settings.AkyCrmNewConnectionString"
      connectionString="Data Source=10.5.111.101;Initial Catalog=AkyCrmNew;User ID=idealdbtestadmin;Password=DbTest2020;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
